{% extends "Base.html.twig" %}

{% block content %}
  
  <div class="container">
	<div class="row">
      <div class="panel panel-default" style="margin-top:30px">
        <div class="panel-body">
	      <a href="article/add" class="btn btn-primary" role="button"> Add article </a>
	      {% for article in articles %}
	        <div class="panel panel-default" style="margin-top:30px">
              <div class="panel-body">
	            <h3> {{ article.title }} 
	              <small> {{ article.author }} </small>
	            </h3>
	            <p><small> Date : {{ article.date | date("m/d/Y") }}
	              <a href="article/delete?id={{ article.id }}" style="color:red"> Delete </a>
	              <a href="article/edit?id={{ article.id }}" style="color:orange"> Edit </a>
	              <a href="comment/add?articleId={{ article.id }}" style="color:blue"> Comment </a>
	            </small></p>
	            <p><i> {{ article.content }} </i></p>
	            {% for comment in article.comments %}
	              <div class="panel panel-default" style="margin-top:30px; margin-left:30px">
                    <div class="panel-body">
                      <h5> {{ comment.title }} 
		              <small> {{ comment.pseudo }} </small>
		            </h5>
		            <p><small> Date : {{ comment.date | date("m/d/Y") }}</small></p>
	           		<p><i> {{ comment.content }} </i></p>
                    </div>
                  </div>
                {% endfor %}
	          </div>
	        </div>
    	  {% endfor %}
    	</div>
      </div>
    </div>
  </div>
{% endblock %}
