{% extends "BaseDashboard.html.twig" %}

{% block content %}

	<div class="container">
	  <div class="row">
        <div class="col-lg-10">
          <div class="jumbotron">
            <h4>Les commentaires suivants ont été signalés par vos utilisateurs</h4>
		  </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <div class="panel panel-default" style="margin-top:30px">
            <div class="panel-body">
              {% if comments|length == 0 %}
                <p> Pas de commentaires signalés </p>
              {% endif %}
              {% for comment in comments %} 
                <div class="panel panel-default" style="margin-top:30px">
                  <div class="panel-body">	  
	                <h4> Le commentaire suivant a été écrit par {{ comment.pseudo }}  
	                  <a href="comment/show?id={{ comment.id }}" type="button" class="btn btn-sm btn-primary pull-right"> Modérer </a> 
	                </h4>	
	                  <small> {{ comment.date | date("m/d/Y") }} </small>
	                <p><i> {{ comment.content[:100]|raw }}... </i></p>
	              </div>
	            </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}










	    {#<div class="panel panel-default" style="margin-top:30px">
          <div class="panel-body">
			<a href="comment/add" class="btn btn-primary" role="button"> Add comment </a>
			{% for comment in comments %} 
			  <div class="panel panel-default" style="margin-top:30px">
                <div class="panel-body">
		          <h3> Title : {{ comment.title }} 
		            <small> Date : {{ comment.date | date("m/d/Y") }}
		              <a href="comment/delete?id={{ comment.id }}" style="color:red"> DELETE </a>
		            </small>
		          </h3>
		          <p> Pseudo : {{ comment.pseudo }} </p>
		          <p> Commentaire : {{ comment.content }} </p>
		        </div>
		      </div>
		    {% endfor %}
		  </div>
		</div>#}