{% extends "BaseDashboard.html.twig" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="jumbotron">
          <h1> Modérer les commentaires 
            </br>
            <small>Les commentaires suivants ont été signalés</small>
          </h1>
          <h5>Vous pouvez les visualiser, les publier à nouveau sur votre site ou bien les supprimer</h5>
	    </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        {% if comments|length == 0 %}
          <div class="panel panel-default" style="margin-top:30px">
            <div class="panel-body">
              <p> Pas de commentaires signalés </p>
            </div>
          </div>
        {% endif %}
        {% for comment in comments %} 
          <div class="panel panel-default" style="margin-top:30px; border-left: 3px solid #d43f3a">
            <div class="panel-body">	  
	          <h4 id="comment{{ comment.id }}"> Le commentaire suivant a été écrit par {{ comment.pseudo }}, <small> le {{ comment.date | date("m/d/Y") }} </small></h4>	
	          <p><i> {{ comment.content|raw }} </i></p> 
	          <a href="/dashboard/comment/publish?id={{ comment.id }}" type="button" class="btn btn-xs btn-warning pull-right" style="margin-left:5px"> Publier </a>
	          {#<!--<a href="/article?articleId={{ comment.articleId }}#comment{{ comment.id }}" type="button" class="btn btn-xs btn-primary pull-right" target="blank" style="margin-left:5px"> Voir </a>-->#}

            <a href="#" data-toggle="modal" data-target="#modalCommentDelete" data-comment-id="{{ comment.id }}" type="button" class="btn btn-xs btn-danger pull-right"> Supprimer </a>
	        </div>
	      </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalCommentModerate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Modifier votre commentaire</h4>
      </div>
      <div class="modal-body">
        <form>
          {% if comment.level < 2 %}
            <input id="modalCommentEditTitle" class="hidden" placeholder="Titre" type="text" name="title">
            </br>
          {% endif %}
          <input id="modalCommentEditPseudo" type="text" placeholder="Pseudo" name="pseudo">
          </br>
          </br>
          <textarea id="modalCommentEditContent" class="styled" placeholder="Votre message..." name="content" rows="4" cols="50"></textarea>
        </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button id="modalCommentEditSubmit" type="button" class="btn btn-warning">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="modalCommentDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Supprimer le commentaire</h4>
        </div>
        <div class="modal-body">
          <p> Êtes-vous sur de vouloir supprimer ce commentaire ? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button id="modalCommentDeleteSubmit" type="button" class="btn btn-danger">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">

  var commentId;


  /*-----------------------------------------------------------------------*/
  /* Edit comment                                                          */
  /*-----------------------------------------------------------------------*/

  $('#modalCommentModerate').on('show.bs.modal', function (event) 
  {
      var button = $(event.relatedTarget);
      var commentId = button.data('comment-id');

      $.get( "/comment?id=" + commentId, function( data ) 
      {
          var comment = jQuery.parseJSON(data);
          $('#modalCommentEditTitle').val(comment.title);
          $('#modalCommentEditPseudo').val(comment.pseudo);
          $('#modalCommentEditContent').val(comment.content);

          if(comment.level == 1)
          {
              $('#modalCommentEditTitle').removeClass("hidden");
          }
          else{
              $('#modalCommentEditTitle').addClass("hidden");
          }

      });

      $('#modalCommentEditSubmit').on('click', function ()
      {
          var title = $('#modalCommentEditTitle').val();
          var content = $('#modalCommentEditContent').val();

          $.post( "/comment/edit", { id: commentId, title: title, content: content })
          .done(function( data ) 
          {
              window.location.replace("/article?id=" + {{ article.id }});
          });
      });
  });

  /*-----------------------------------------------------------------------*/
  /* Delete comment                                                        */
  /*-----------------------------------------------------------------------*/

  $('#modalCommentDelete').on('show.bs.modal', function (event) 
  {
      var button = $(event.relatedTarget);
      commentId = button.data('comment-id');
  })

  $('#modalCommentDeleteSubmit').on('click', function ()
  {
      $.post( "/comment/delete?id=", { id: commentId })
      .done(function( data ) 
      {
          window.location.replace("/dashboard/comments");
      });
  });
</script>

{% endblock %}