{% extends "BaseDashboard.html.twig" %}

{% block content %}


      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Bienvenue
                  </br>
                  <small> Que souhaitez-vous faire ?</small></h1>
	              <p></p>
				        <p><a class="btn btn-primary" href="/dashboard/article/add" role="button">Ajouter un article</a></p>
				        <p><a class="btn btn-success" href="/dashboard/article/add" role="button">Modération des commentaires</a></p>
		          </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Articles <span class="badge pull-right" style="background-color: #286090; font-size:16px;">{{ articles | length }}</span></h4>
                </div>
                <div class="panel-body">
                  {% for article in articles %}
                    <h5>{{ article.title }}<small> | {{ article.date | date("m/d/Y") }}</small></h5>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Comments <span class="badge pull-right" style="background-color: #449d44; font-size:16px;">{{ comments | length }}</span></h4>
              </div>
              <div class="panel-body">
                {% for comment in comments %}
                  <h5>{{ comment.title }}<small> | {{ comment.date | date("m/d/Y") }}</small></h5>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

{% endblock %}
    
{% block javascript %}

	<script>
	$("#menu-toggle").click(function(e) {
	    e.preventDefault();
	    $("#wrapper").toggleClass("toggled");
	});
	</script>

{% endblock %}
